<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-left">
                    © 2018-2019 CEKAK – <b>Anggi Alberto</b>
                    <br><br>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline" target="_blank"><span class="sr-only">Facebook</span><i
                                    class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline" target="_blank"><span class="sr-only">Twitter</span><i
                                    class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline" target="_blank"><span class="sr-only">Instagram</span><i
                                    class="fa fa-fw fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 text-right">
                    <span>Powered by</span><br>
                    <a href="https://andaglos.id" target="_blank" title="Zesle Logo"><img width="160" src="https://andaglos.id/wp-content/uploads/2018/08/Logo-Andaglos-Developer-Academy-list-w.png"
                            alt="Cekak.web.id URL Shortener powered by PT Andaglos Global Teknologi."></a>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>