<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
    <%= title %>
</title>
<meta name="description" content="Best Link Management Platform built for Enterprise Level. Free Custom URL Shortener. Get personalised branded &amp; vanity links with custom short domain with API. Alternative. T2M will never delete your data.">
<style type="text/css">
    #form_input_error a {
        color: #fff !important;
        text-decoration: underline !important;
        font-weight: 600;
    }
</style>

<!-- Bootstrap Core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Theme CSS -->
<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

<!-- FontAwesome CSS -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">